.leftPro {
  background-color: rgb(62, 68, 74);
  color: white;
  text-align: center;
  width: auto;
}
.con {
  height: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.edit-btn{
  margin-top: 10px;
  width: 250px;
}
.fullhight{
  height: 100% !important;
  min-height: 100vh;
}
.list {
  margin-top: 30px;
}
.propic {
  /* background-image: url(../../images/pic.jpg); */
  /* background-repeat: no-repeat; */
  background-size: 250px 250px;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: thick;
}
