
.image {
  background-image: url(../../images/pic.jpg);
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  background-size: 110px 110px;
  border-radius: 100%;
  border-width: thin;
  border-style: solid;
  border-color: white;
  margin-top: 4px;
  margin-left: 30px;
}
.info {
  margin-left: 10px;
  margin-top: 25px;
  color: black;
}
.specc {
  align-self: left;
}
.tab {
  margin-left: 450px;
  background-color: #38393b;
  width: 700px;
  height: auto;
  border-radius: 16px;
  margin-bottom: 100px;
  border-color: #edf0f4;
  box-shadow: c #e8eaed;
}


.containerw {
  padding: 60px;
  background:rgb(52,58,64);
  color: black;
  height: auto;
  border-color: #edf0f4;
  box-shadow: c #e8eaed;
  border-radius: 16px;
  width: 700px;

}

.day{
  height: 320px;
}
.hed{
  text-align: center;
}

.time{
  background-color: #edf0f4;
  height: auto;
  width: 400px;
  align-self: start;
  border-color: #edf0f4;
  box-shadow: c #e8eaed;
  margin-bottom: 5px;
}
.dd{
  width: 530px;
  text-align: center;
}
.timing{
  margin-top: 10px;
}
.buttons{
  height: 50px;
  margin-bottom: 5px;

}
